@*Account View Index (PROFILE PAGE)*@

@using Bmerketo.Services.Repo;


@model UsersViewModel


@{
    ViewData["Title"] = $"{User.Identity?.Name}";
}


<div>
    @ViewData["Title"]
    <div>
        @foreach (var user in Model.Users)
        {
            <div>
                <img src="@user.ImageUrl" alt="@user.FirstName">
                @user.FirstName 
                @user.LastName
            </div>
        }
    </div>
</div>